header .content {
    background-color: rgb(81, 81, 81);
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 4em;
    }
    nav {
        a {
            margin: 0 0.5em;
            font-size: 2em;
            text-decoration: none;
        }
        .active {
            color: rgb(210, 241, 253);
        }
    }
}